#projects {
  padding: 50px;
  background-color: rgb(22, 22, 22);
  text-align: center;
}

.projects-title {
  font-size: 100px;
  font-family: "Roboto Slab", sans-serif;
  margin-bottom: 40px;
  color: #ffffff5d;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  justify-items: center;
  border-radius: 5px;
}

.project-card {
  background-color: #ffffff5d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  max-width: 300px;
  font-family: "Roboto Slab", serif;
}

.project-card img {
  max-width: 100%;
  border-radius: 10px;
}
.project-links img {
  margin: 20px;
}
.project-card h2 {
  margin-bottom: 10px;
  color: #ffffff;
  font-family: "Roboto Slab", serif;
  border-radius: 5px;
  background-color: #7b5c5c00;
}

.project-card p {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 5px;
}

.project-links a {
  border-radius: 5px;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s ease;
}
.project-links {
  border-radius: 5px;
  background-color: rgb(22, 22, 22);
}

.brewery-img {
  padding-top: 50px;
  padding-bottom: 37px;
}
.twitter-img {
  padding: 50px;
  padding-bottom: 92px;
}

@media (max-width: 600px) {
  #projects {
    height: 350vh;
  }
  .projects-title {
    font-size: 60px;
    font-family: "Roboto Slab", sans-serif;
    margin-bottom: 40px;
    color: #ffffff5d;
  }
  .twitter-img {
    padding: 20px;
    padding-bottom: 32px;
  }
}
